* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --accent-purple: #B259FF;
    --accent-fuschia: #FF59F9;
    --accent-pink: #FF59B8;
    --accent-orange: #FF8B59;
    --accent-yellow: #FFCD59;
    --accent-lime: #E1FF59;
    --accent-green: #59FF91;
    --accent-cyan: #59FFFF;
    --accent-navy: #6A59FF;

    --feedback-danger: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363840;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    --font-logo-family: "Leckerli One", cursive;
    --font-heading-family: "Baloo 2", sans-serif;
    --font-body-family: "Open Sans", sans-serif;

    --text-logo: 400 2.5rem/normal var(--font-logo-family);

    --text-heading-md: 700 1.75rem/normal var(--font-heading-family);
    --text-heading-sm: 700 1.125rem/normal var(--font-heading-family);

    --text-body-md: 400 1rem/normal var(--font-body-family);
    --text-body-sm: 400 0.875rem/normal var(--font-body-family);
    --text-body-xs: 400 0.75rem/normal var(--font-body-family);
}