#app-layout {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 1.25rem;
    height: 100vh;
    overflow: hidden;
}

aside {
    background: url(../assets/background.png) no-repeat center / cover;
    padding: 2rem;
    border-radius: 0.75rem;
}

.aside-container {
    max-width: 25rem;

    & img {
        height: 3rem;
        margin-bottom: 1rem;
    }

    & h2 {
        font: var(--text-logo);
        color: var(--feedback-danger);
        margin-bottom: 0.5rem;
    }

    & p {
        font: 300 1rem/normal var(--font-body-family);
    }
}

main {
    overflow: auto;
    background-color: var(--shape-body);
    padding-block: 5rem;
    border-radius: 0.75rem;
}

.main-container {
    max-width: 35rem;
    margin: 0 auto;
}