#checklist {

    & .input-area {
        display: flex;
        align-items: center;
        gap: 0.875rem;
    }

    & .checkbox-wrapper {
        position: relative;

        & [type="checkbox"] {
            all: unset;
            position: absolute;
            inset: 0;
        }

        .checkbox-image {
            flex: 0 0 1.25rem;
            height: 1.25rem;
            background-image: url(../assets/icons/checkbox-default.svg);
            background-repeat: no-repeat;
        }

        label {
            margin: 0;

            & a {
                text-decoration: none;
                color: var(--brand-light);
                font-weight: 600;
            }
        }

        &:has(:checked) .checkbox-image {
            background-image: url(../assets/icons/checkbox-checked.svg);
        }
    }


}